{% include 'head.html' %}
{% load static %}

<body data-spy="scroll" data-target="#navbar" class="static-layout">
	
{% include 'nav.html'%}
	
</div>	<div class="jumbotron jumbotron-single d-flex align-items-center" >
	<img src="{% static 'img/truck.webp' %}" alt="">
  <div class="container text-center">
    <h1 class="display-2 mb-4">About</h1>
  </div>
</div>	<section id="who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">To  make your  <br>Life<b> Easier</b></h2>
                <p class="section-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
    </div>


<!-- End of Features Section--></div>
{%include 'footer.html'%}
</body>
</html>
