
{% include 'head.html' %}



<body data-spy="scroll" data-target="#navbar" class="static-layout">
	{% include 'nav.html' %}


</div>	<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-1 mb-4">Make life easier by your <br>Phone</h1>

    <div >
        <a class='button' href="#" style="--color: rgb(0, 237, 100)"><span>Join Us</span><i></i></a>
     
        <!-- <a class='button2' href="#" style="--color: rgb(0, 237, 100)"><span>Login</span><i></i></a> -->
      </div>
   
  </div>
  
  <!-- <div class="rectangle-1"></div>
  <div class="rectangle-2"></div> -->
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="font-1"><i class="fa fa-truck"></i></div>
  <div class="font-2"><i class="fa fa-car-side"></i></div>
  <div class="font-3"><i class="fa fa-motorcycle"></i></div>
  <div class="font-4"><i class="fa fa-user"></i></div>
  <div class="font-5"><i class="fa fa-plane"></i></div>
  <div class="font-6"><i class="fa fa-ship"></i></div>
  <div class="font-7"><i class="fa fa-road"></i></div>


  
</div>	<!-- Features Section-->

 

{% include 'footer.html' %}

</body>
</html>
